<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">   
    <%= form.text_field :name, placeholder:"Name", class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :genre, placeholder:"Genre", class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.text_field :language, placeholder:"Language", class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.number_field :rating, placeholder:"Rating", class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.number_field :user_id, id: :show_user_id, type: :hidden, value:current_user.id, class:"form-control" %> <%# this line creates an id for each user to associate it to its own created list%>
  </div>
  <div class="mb-3"> 
    <%= form.submit class: "btn btn-sm btn-success"%>
  </div>
<% end %>
