<h1>TV Shows</h1>
<br>
<table class="table table-striped table-bordered">
  <thead class= "table-dark">
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Language</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <% if show.user == current_user %> <%# this if statement allows only the current user logged in to view its own created list %>
      <tr>
        <td><%= show.name %></td>
        <td><%= show.genre %></td>
        <td><%= show.language %></td>
        <td><%= show.rating %></td>
        <td>
          <div class="btn-group" role="group">
            <%= link_to "Display", show, class: "btn btn-primary btn-sm" %> 
            <%= button_to 'Delete', show, method: :delete, class: "btn btn-danger btn-sm" %>
          </div>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New TV Show", new_show_path, class: "btn btn-sm btn-success" %>
